@charset "UTF-8";
/*
 * Vars
 */
/*
 * Globals
 */
html {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", Arial, Ubuntu, "Noto Sans", "Segoe UI", sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
  font-size: 1.1rem; }

body {
  color: #333;
  background: #f3f3f3;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  /*@media (prefers-color-scheme: dark) {
    background: $SITE_BG_DARK;
    color: $TEXT_COLOR_DARK;
  }*/ }
  @media (max-width: 30em) {
    body {
      padding: 0; } }
a,
a:link,
a:hover,
a:active {
  outline: none;
  text-decoration: none; }

a:hover {
  text-decoration: underline;
  text-decoration-color: #ffa319; }

p a.external,
figure figcaption a.external,
h1 a.external, h2 a.external, h3 a.external, h4 a.external {
  background: transparent url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='external-link-alt' class='svg-inline--fa fa-external-link-alt fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='cornflowerblue' d='M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z'%3E%3C/path%3E%3C/svg%3E") top right no-repeat;
  background-size: 10px;
  padding-right: 12px; }
  p a.external.mailto,
  figure figcaption a.external.mailto,
  h1 a.external.mailto, h2 a.external.mailto, h3 a.external.mailto, h4 a.external.mailto {
    background: transparent url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='far' data-icon='envelope' class='svg-inline--fa fa-envelope fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='cornflowerblue' d='M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z'%3E%3C/path%3E%3C/svg%3E") top right no-repeat;
    background-size: 10px; }

input:focus {
  outline: none; }

h1 a, .h1 a,
h2 a, .h2 a,
h3 a, .h3 a,
h4 a, .h4 a,
h5 a, .h5 a,
h6 a, .h6 a {
  color: #2965B4;
  text-decoration: none;
  transition: all 0.2s; }

h1 a:hover, .h1 a:hover,
h2 a:hover, .h2 a:hover,
h3 a:hover, .h3 a:hover,
h4 a:hover, .h4 a:hover,
h5 a:hover, .h5 a:hover,
h6 a:hover, .h6 a:hover {
  border-left: 4px solid #ffa319;
  padding-left: 0.2rem; }

h1, .h1 {
  font-size: 1.8rem; }

h2, .h2 {
  font-size: 1.6rem; }

h3, .h3 {
  font-size: 1.4rem; }

h4, .h4, h5, .h5 {
  font-size: 1rem; }

iframe {
  margin: 0 0 1rem 0; }

code {
  font-family: Hack, "Fira Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

img {
  max-width: 100%; }

figure {
  margin-top: 0.5rem;
  text-align: center;
  background: #333;
  border-radius: 8px;
  box-shadow: 1px 1px 3px #b4b4b4; }
  figure a:hover {
    text-decoration: none; }
  figure b, figure p {
    color: #fff;
    margin: 0; }
  figure img {
    border-radius: 8px 8px 0 0; }
  figure figcaption {
    background: #333;
    color: #fff;
    padding: 0.4rem 0.8rem;
    border-radius: 0 0 8px 8px; }
  figure .image {
    position: relative;
    text-align: center; }
    figure .image .copyright {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0.2rem;
      font-size: 0.6rem; }

blockquote {
  padding: 0 0 0 0.8rem;
  border-left: 3px lightgrey solid; }

#tallest {
  padding: 0;
  border-radius: 8px; }

.masthead-super {
  height: 1rem;
  padding: 0 0.5rem;
  font-size: 0.6rem;
  font-family: Hack, monospace, 'Courier New', Courier;
  color: #333;
  text-shadow: #b4b4b4 1px 1px 4px;
  /*@media (prefers-color-scheme: dark) {
    color: $TEXT_COLOR_DARK;
    text-shadow: $SHADOW_LIGHT 1px 1px 4px;
  }*/ }
  .masthead-super * {
    cursor: default; }

.masthead {
  background: repeating-linear-gradient(45deg, #2d2b38, #2d2b38 20px, #5d4672 20px, #5d4672 40px) repeat center center #2d2b38;
  background-image: url("images/ryoheihuke-hatsune-miku-2008-12-27-slim.webp");
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 0.25rem #b4b4b4;
  border-radius: 0 0 8px 8px; }
  .masthead .banner {
    min-height: 180px;
    padding: 1%;
    border-radius: 8px 8px 0 0; }
    .masthead .banner .avatar {
      padding: 0.2rem;
      width: 5.2rem;
      height: 5.2rem;
      background: radial-gradient(#519cff, #2965b4);
      border-radius: 100%;
      box-shadow: 0 0 1px #000 inset; }
      .masthead .banner .avatar .avatar-img {
        height: 4.8rem;
        border-radius: 100%;
        box-shadow: 0 0 2px #000 inset;
        background-size: 120%;
        background-position: 30% 0; }
    .masthead .banner .sharing-icons {
      align-items: flex-start; }
      .masthead .banner .sharing-icons span {
        background: #fff;
        box-shadow: 0 0 2px #333; }
  .masthead .blog-nav {
    background: linear-gradient(to bottom, #519cff 0%, #2965b4 100%) repeat center center #2965b4;
    border-radius: 0 0 8px 8px; }
  .masthead .blog-nav .nav {
    position: relative;
    color: #fff;
    /* Nav links */
    /* Site Search */ }
    .masthead .blog-nav .nav .nav-link {
      padding: 0.3rem 1rem;
      color: #fff;
      text-shadow: 0 1px 2px #333; }
      .masthead .blog-nav .nav .nav-link:hover, .masthead .blog-nav .nav .nav-link:focus {
        color: #fff; }
    .masthead .blog-nav .nav .search {
      position: relative;
      height: 84%;
      margin: 1%;
      border: 1px solid #fff;
      border-radius: 8px; }
      .masthead .blog-nav .nav .search label {
        position: absolute;
        margin: 0 0 0 0.4rem; }
      .masthead .blog-nav .nav .search input {
        width: 100%;
        height: 100%;
        padding: 0 0 0 36px;
        background: transparent;
        border: none;
        color: #fff; }
    .masthead .blog-nav .nav #search-results {
      position: absolute;
      top: 100%;
      right: 1rem;
      width: 60%;
      z-index: 1;
      background: #fff;
      color: #000;
      border-radius: 8px;
      box-shadow: 0 0 12px #b4b4b4; }
      .masthead .blog-nav .nav #search-results .close {
        position: absolute;
        right: 1rem;
        top: 0;
        font-size: 2rem; }
      .masthead .blog-nav .nav #search-results .search-title {
        margin: 1rem 0; }
      .masthead .blog-nav .nav #search-results article.search-result {
        padding: 0 0.4rem; }
        .masthead .blog-nav .nav #search-results article.search-result .search-result-summary {
          margin: 0.6rem 0 1rem 1rem;
          font-size: 0.8rem; }

#main, #footer {
  padding: 1rem 0 0;
  /*&.container-xl {
    padding-left: 0;
    padding-right: 0;
  }*/ }

.blog-posts-paginated {
  border-radius: 8px; }

.sidebar {
  display: flex;
  flex-direction: column; }
  .sidebar .tag-cloud {
    text-align: center; }
    .sidebar .tag-cloud a {
      display: inline-block; }
      .sidebar .tag-cloud a:nth-child(3n+2) {
        transform: rotate(4deg); }
      .sidebar .tag-cloud a:nth-child(3n+4) {
        transform: rotate(-4deg); }
  .sidebar .twitter-timeline {
    margin: 1rem 0 !important; }

/* Pagination */
.blog-pagination {
  margin-bottom: 1rem; }
  .blog-pagination > .btn {
    margin: 0 1rem 0 0;
    background: #fff;
    border-color: transparent;
    border-radius: 2rem;
    box-shadow: 0 0 3px #b4b4b4; }
  .blog-pagination .btn-outline-primary:hover {
    color: #2965B4; }

/*
 * Blog posts
 */
.blog-post,
.sidebar-blob,
.twitter-timeline {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 0.6rem 1rem;
  background: white;
  border-radius: 0.4rem;
  box-shadow: 0 0 0.25rem #b4b4b4;
  /*@media (prefers-color-scheme: dark) {
    background: $CONTENT_BG_DARK;
  }*/
  /*&:not(:last-child) {
    border-bottom: 1px dashed #aaa;
  }*/ }
  .blog-post:first-child,
  .sidebar-blob:first-child,
  .twitter-timeline:first-child {
    margin-top: 0; }
  .blog-post:not(.single):last-child header,
  .sidebar-blob:not(.single):last-child header,
  .twitter-timeline:not(.single):last-child header {
    border-bottom: 0; }
  .blog-post header,
  .sidebar-blob header,
  .twitter-timeline header {
    margin: 0 0 1rem;
    border-bottom: 1px solid #e9e9e9; }
    .blog-post header h1, .blog-post header h2,
    .sidebar-blob header h1,
    .sidebar-blob header h2,
    .twitter-timeline header h1,
    .twitter-timeline header h2 {
      margin: 0; }
  .blog-post.title-only,
  .sidebar-blob.title-only,
  .twitter-timeline.title-only {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin: 0;
    border-radius: 0;
    box-shadow: none; }
    .blog-post.title-only:nth-of-type(1),
    .sidebar-blob.title-only:nth-of-type(1),
    .twitter-timeline.title-only:nth-of-type(1) {
      border-radius: 0.4rem 0.4rem 0 0; }
    .blog-post.title-only:last-of-type,
    .sidebar-blob.title-only:last-of-type,
    .twitter-timeline.title-only:last-of-type {
      margin-bottom: 1rem;
      border-radius: 0 0 0.4rem 0.4rem; }
    .blog-post.title-only h1,
    .sidebar-blob.title-only h1,
    .twitter-timeline.title-only h1 {
      font-size: 1.4rem; }
  .blog-post .description,
  .sidebar-blob .description,
  .twitter-timeline .description {
    color: #999; }
  .blog-post .metadata,
  .sidebar-blob .metadata,
  .twitter-timeline .metadata {
    margin: 0.2rem 0 0;
    font-size: 0.8rem;
    color: #999; }
    .blog-post .metadata .fa.fa-tag,
    .sidebar-blob .metadata .fa.fa-tag,
    .twitter-timeline .metadata .fa.fa-tag {
      vertical-align: bottom;
      color: #2965B4; }
  .blog-post .content,
  .sidebar-blob .content,
  .twitter-timeline .content {
    margin: 0 0 1rem; }
    .blog-post .content .thumbnail,
    .sidebar-blob .content .thumbnail,
    .twitter-timeline .content .thumbnail {
      float: right;
      position: relative;
      min-width: 128px;
      min-height: 64px;
      margin: 0 0 0.2rem 1rem; }
      .blog-post .content .thumbnail img,
      .sidebar-blob .content .thumbnail img,
      .twitter-timeline .content .thumbnail img {
        max-width: 256px;
        max-height: 8rem;
        border-radius: 8px;
        box-shadow: 0 4px 4px -4px #333; }
      .blog-post .content .thumbnail .title,
      .sidebar-blob .content .thumbnail .title,
      .twitter-timeline .content .thumbnail .title {
        position: absolute;
        top: 25%;
        width: 100%;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        font-family: Hack, "Fira Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        color: #fff;
        text-shadow: #000 0 0 3px;
        cursor: default; }
    .blog-post .content .footnotes,
    .sidebar-blob .content .footnotes,
    .twitter-timeline .content .footnotes {
      margin: 2rem 0 0 0; }
      .blog-post .content .footnotes hr,
      .sidebar-blob .content .footnotes hr,
      .twitter-timeline .content .footnotes hr {
        display: none; }
  .blog-post footer,
  .sidebar-blob footer,
  .twitter-timeline footer {
    padding: 0 0.8%;
    margin: 0 0 0.4rem; }
  .blog-post.single h2, .blog-post.single .h2,
  .sidebar-blob.single h2,
  .sidebar-blob.single .h2,
  .twitter-timeline.single h2,
  .twitter-timeline.single .h2 {
    margin: 2rem 0 0.8rem;
    font-size: 1.6rem; }
  .blog-post.single h3, .blog-post.single .h3,
  .sidebar-blob.single h3,
  .sidebar-blob.single .h3,
  .twitter-timeline.single h3,
  .twitter-timeline.single .h3 {
    margin: 1.6rem 0 0.8rem;
    font-size: 1.4rem; }
  .blog-post.single h4, .blog-post.single .h4, .blog-post.single h5, .blog-post.single .h5,
  .sidebar-blob.single h4,
  .sidebar-blob.single .h4,
  .sidebar-blob.single h5,
  .sidebar-blob.single .h5,
  .twitter-timeline.single h4,
  .twitter-timeline.single .h4,
  .twitter-timeline.single h5,
  .twitter-timeline.single .h5 {
    margin: 1.4rem 0 0.8rem;
    font-size: 1rem; }
  .blog-post.single .toc,
  .sidebar-blob.single .toc,
  .twitter-timeline.single .toc {
    display: table;
    padding: 0.4rem 1rem;
    margin: 0 1rem 1rem 0;
    border: 1px solid lightgrey; }
    .blog-post.single .toc header,
    .sidebar-blob.single .toc header,
    .twitter-timeline.single .toc header {
      text-align: center;
      font-weight: bold; }
    .blog-post.single .toc ul,
    .sidebar-blob.single .toc ul,
    .twitter-timeline.single .toc ul {
      padding: 0;
      counter-reset: item;
      color: grey; }
      .blog-post.single .toc ul ul,
      .sidebar-blob.single .toc ul ul,
      .twitter-timeline.single .toc ul ul {
        padding-left: 1rem;
        color: #999;
        border: 0; }
      .blog-post.single .toc ul li,
      .sidebar-blob.single .toc ul li,
      .twitter-timeline.single .toc ul li {
        list-style-type: none; }
        .blog-post.single .toc ul li:first-letter,
        .sidebar-blob.single .toc ul li:first-letter,
        .twitter-timeline.single .toc ul li:first-letter {
          initial-letter-align: auto; }
        .blog-post.single .toc ul li:before,
        .sidebar-blob.single .toc ul li:before,
        .twitter-timeline.single .toc ul li:before {
          content: counter(item, upper-roman) " ";
          counter-increment: item; }
  .blog-post.single .sharing-icons,
  .sidebar-blob.single .sharing-icons,
  .twitter-timeline.single .sharing-icons {
    font-size: 1.6rem;
    margin: 1rem 0; }
    .blog-post.single .sharing-icons a span,
    .sidebar-blob.single .sharing-icons a span,
    .twitter-timeline.single .sharing-icons a span {
      min-width: 2.2rem; }
    .blog-post.single .sharing-icons .sharethis .text,
    .sidebar-blob.single .sharing-icons .sharethis .text,
    .twitter-timeline.single .sharing-icons .sharethis .text {
      position: absolute;
      top: 0;
      left: 0;
      margin: -0.2rem 0 0 -0.4rem;
      font-size: 0.8rem;
      cursor: default; }
  .blog-post article img,
  .sidebar-blob article img,
  .twitter-timeline article img {
    max-width: 100%;
    height: auto;
    margin: 13px auto; }
  .blog-post .vcard:before,
  .sidebar-blob .vcard:before,
  .twitter-timeline .vcard:before {
    content: "▲";
    position: absolute;
    top: -1.2rem;
    color: #007bff;
    left: 2px; }

/*
 * Page elements
 */
.highlight {
  margin: 0 0 1rem; }
  .highlight pre {
    padding: 0.4rem;
    border-radius: 0.4rem;
    box-shadow: 1px 1px 3px 0 #0003;
    white-space: pre-wrap; }

p > code {
  display: inline-block;
  padding: 0 0.2rem;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 2px; }

/*@media (prefers-color-scheme: dark) {
  .card {
    background-color: $SITE_BG_DARK;
  }
}*/
.sharing-icons {
  padding: 0 0.2rem; }
  .sharing-icons span {
    min-width: 1.8rem;
    padding: 0.4rem 0;
    text-align: center;
    border-radius: 100%; }
  .sharing-icons a span {
    transition: all 0.6s ease-in-out; }
    .sharing-icons a span:hover {
      transform: rotate(720deg); }
  .sharing-icons .nav-item + .nav-item {
    margin-left: 0.6rem; }
  .sharing-icons .fa.fa-share-square {
    font-size: 140%;
    transform: rotate(-8deg); }

.fa-mastodon {
  color: #2b90d9; }

.fa-twitter {
  color: #55acee; }

.fa-reddit-alien {
  color: #ff4500; }

.fa-tumblr {
  color: #35465c; }

.fa-facebook-f {
  color: #3b5998; }

.fa-flickr {
  color: #0063db; }

.fa-pinterest-p {
  color: #bd081c; }

.fa-linkedin {
  color: #0077b5; }

.fa-xing {
  color: #1a7576; }

.fa-hacker-news {
  color: #f60; }

.fa-telegram {
  color: #54a9eb; }

.fa-whatsapp {
  color: #25d366; }

.fa-discord {
  color: #7289DA; }

.fa-patreon {
  color: #e85b46; }

.fa-kofi {
  color: #29ABE0; }

.fa-github {
  color: #000; }

.fa-gitlab {
  color: #fc6d26; }

.fa-envelope {
  color: #777; }

.fa-rss {
  color: #F69537; }

.fa-exclamation-triangle {
  color: gold; }

.fa-splotch {
  color: #519cff; }

/*
 * Footer
 */
#footer {
  margin: 1rem auto 1rem;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 3px #b4b4b4;
  /*@media (prefers-color-scheme: dark) {
    background: $CONTENT_BG_DARK;
    border-color: $SHADOW;
  }*/ }
  #footer p:last-child {
    margin-bottom: 0; }
  #footer > .row {
    padding: 0 0 1rem;
    margin: 1rem 0; }
  #footer ul {
    list-style-type: none; }
    #footer ul .fa-tag {
      vertical-align: bottom; }

/*
 * Settings slider
 */
#settings-slider {
  padding: 1rem;
  background: #404351;
  box-shadow: inset 3px 0 6px #333; }
  #settings-slider p {
    color: #fff; }
  #settings-slider .h1 {
    margin: 0 0 1rem 0; }

/*
 * Accessibility (a11y)
 */
.skip-to-main {
  position: absolute;
  top: -4rem;
  left: 0;
  font-size: 1rem;
  background: #000;
  color: #fff;
  padding: 0.8rem;
  z-index: 100; }
  .skip-to-main:focus {
    top: 0; }

.dyslexia {
  font-family: OpenDyslexic-Regular !important; }
  .dyslexia code {
    font-family: OpenDyslexic-Mono !important; }

.vcard {
  box-shadow: 0 0 6px #b4b4b4; }
  .vcard p {
    margin: 0; }
  .vcard img {
    min-width: 200px;
    width: auto; }
  .vcard .card-body {
    padding-bottom: 0; }
  .vcard .vcard-name {
    font-weight: bold;
    margin: 1rem 0 0 0 !important; }
  .vcard .vcard-email:before {
    content: "📧"; }
  .vcard .vcard-url:before {
    content: "🌐"; }
  .vcard .vcard-save {
    text-align: right; }
    .vcard .vcard-save span:before {
      content: "💾 "; }

/*
 * Specifics
 */
#disqus_thread {
  margin-top: 1rem; }

.mermaid {
  margin: 0 0 1rem; }
  .mermaid svg {
    max-width: 100%;
    height: auto; }

.asciinema-player {
  margin: 0 0 1rem;
  border-radius: 8px;
  box-shadow: 0 0 3px 1px #b4b4b4; }
  .asciinema-player .asciinema-terminal {
    width: 108ch !important; }

.twitter-timeline {
  min-height: 60rem !important; }

.twitter-tweet {
  margin: 0 auto 1rem !important; }

.youtube-player,
.map-embed,
.mastodon-embed {
  border-radius: 8px;
  box-shadow: 0 0 3px 1px #b4b4b4; }

.youtube-player {
  display: block;
  width: 640px;
  max-width: 100%;
  height: 360px;
  margin: 0 auto; }

.map-embed {
  width: 100%;
  min-height: 18rem;
  border: 0; }

.mastodon-container {
  width: 550px;
  margin: 0 auto; }
  .mastodon-container .mastodon-embed {
    width: 550px;
    height: 550px;
    margin: 0 auto;
    border-radius: 8px; }

.footnote-backref:hover {
  text-decoration: none; }

.mailinglist {
  text-align: center;
  /*background: linear-gradient(to bottom, $COLOR_SCHEME_LIGHT 80%, $COLOR_SCHEME 100%) repeat center center $COLOR_SCHEME;
  color: #fff;*/ }
  .mailinglist h4 {
    font-weight: bold; }
  .mailinglist .subscribe-form {
    text-align: center; }
    .mailinglist .subscribe-form input[type=email],
    .mailinglist .subscribe-form input[type=text] {
      font-family: Hack, "Fira Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
      border: 0;
      border-bottom: 1px solid #2965B4;
      border-radius: 0; }
    .mailinglist .subscribe-form input[type=submit] {
      padding: 0.2rem 0.4rem;
      background: #2965B4;
      font-weight: bold;
      border: 0;
      color: #fff; }
      .mailinglist .subscribe-form input[type=submit]:active {
        background: #4485da; }
    .mailinglist .subscribe-form .notice,
    .mailinglist .subscribe-form .revue-form-footer {
      font-size: 0.8rem;
      margin: 1rem 0 0;
      /*a {
        font-weight: bold;
        color: #fff;
      }*/ }

.bigbtns {
  text-align: center;
  margin: 0 0 0.4em;
  cursor: default; }
  .bigbtns * {
    vertical-align: middle; }
  .bigbtns div {
    display: inline-block;
    background-color: #000;
    color: #FFF;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    text-shadow: 0 1px #333;
    padding: 0.1em;
    margin: 0.2em 0.4em 0.2em 0;
    border-radius: 3px;
    box-shadow: 0 0 2px 0 #333;
    vertical-align: middle; }
    .bigbtns div:last-of-type {
      margin-right: 0; }
    .bigbtns div img,
    .bigbtns div svg {
      display: inline-block !important;
      width: 100%;
      max-width: 40px !important;
      height: 100%;
      max-height: 30px !important;
      padding: 0 !important;
      vertical-align: middle !important;
      box-shadow: 0 0 0 0 transparent;
      transition: all 0.6s ease-in-out; }
    .bigbtns div svg:hover,
    .bigbtns div img:hover {
      transform: rotate(720deg); }
  .bigbtns a {
    display: inline-block;
    color: #FFF !important;
    text-decoration: underline;
    outline: 0;
    vertical-align: baseline; }
    .bigbtns a:first-of-type {
      margin-left: 3px; }
    .bigbtns a:nth-of-type(2n) {
      margin-left: -9px; }
  .bigbtns span {
    margin-right: 6px; }
    .bigbtns span a:nth-of-type(2n), .bigbtns span a:nth-of-type(1n) {
      margin: 0; }

#bigbtns_firefoxbtn {
  background: linear-gradient(to bottom, #962BB9 0%, #4D1A69 100%) repeat scroll 0 0 #962BB9; }

#bigbtns_hostedbtn {
  background: linear-gradient(to bottom, #5d80bb 0%, #253c76 100%) repeat scroll 0 0 #5d80bb; }

#bigbtns_builtwithhtml5 {
  background: linear-gradient(to bottom, #f16529 0%, #e44d26 100%) repeat scroll 0 0 #f16529; }

/*
 * Hover-icon
 */
.hvicon {
  display: block;
  position: relative;
  margin: 0.8em 0 0; }
  .hvicon a {
    width: fit-content; }
  .hvicon div {
    display: inline-block;
    margin: 0 0 1px; }
    .hvicon div a {
      padding: 0.1rem 0.3rem 0.1rem;
      border: 1px dotted #519CFF;
      border-right: 0;
      border-bottom: 0; }
  .hvicon p {
    margin: 0; }
  .hvicon label {
    cursor: default; }
  .hvicon a *,
  .hvicon img,
  .hvicon video,
  .hvicon iframe {
    position: relative;
    width: 100%;
    width: max-content;
    max-width: 60%;
    margin: 2px 0 0 !important;
    border-radius: 2px;
    /*opacity: 0;
        z-index: -10;*/
    transition: all 0.3s; }
  .hvicon:hover a > *, .hvicon:hover a ~ * {
    width: auto;
    max-width: 100%;
    opacity: 1;
    z-index: 10; }
  .hvicon input.toggle {
    margin: 0 0 0 0.5rem;
    vertical-align: middle;
    cursor: pointer; }
  .hvicon input.toggle:checked ~ *,
  .hvicon input.toggle:checked ~ a * {
    position: relative;
    max-width: 100%;
    height: auto;
    opacity: 1;
    z-index: 10; }
  .hvicon input.toggle:checked ~ img,
  .hvicon input.toggle:checked a ~ img {
    width: 100%;
    min-height: 100px; }
  .hvicon input.toggle:checked ~ iframe {
    width: 100%;
    height: 384px; }
  .hvicon.videoembed {
    /*display: block;*/ }
  .hvicon.videoembed iframe {
    display: block;
    background-color: #000;
    width: 0;
    max-width: 640px;
    height: 0;
    max-height: 360px;
    box-shadow: 0 0 2px #000; }
  .hvicon.videoembed:hover iframe {
    width: 100%;
    height: 360px; }

/*
 * Crypto badges
 */
.cryptoaddr {
  display: block;
  position: relative;
  background: linear-gradient(to bottom, #FFF 0%, #FFF 100%) repeat center center transparent;
  font-weight: bold;
  color: #333;
  padding: 0 14px;
  margin: 1rem 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: 2px; }
  .cryptoaddr p {
    margin: 0; }
  .cryptoaddr img {
    max-height: 20px;
    max-width: 20px;
    margin: -6px 0.4rem 0 0; }
  .cryptoaddr span {
    display: inline;
    font-family: Hack, "Fira Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 13px;
    vertical-align: text-bottom; }
  .cryptoaddr.bitcoin {
    background-color: #f9ac50;
    background: linear-gradient(to bottom, #f9ac50 0%, #f79929 100%) repeat center center #f9ac50;
    border-top-color: #fccd95;
    border-bottom-color: #c17d11; }
    .cryptoaddr.bitcoin img {
      transform: rotate(15deg); }
  .cryptoaddr.chia {
    background-color: #00af55;
    background: linear-gradient(to bottom, #00bd5b 0%, #00af55 100%) repeat center center #f9ac50;
    border-top-color: #00bd5b;
    border-bottom-color: #00af55; }
